@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Download Generated Files</h2>
        <p>
            This sample generates some xml files and returns them as a single zip file.
        </p>
        <p><a class="btn btn-default" href="/Home/XmlExport">Download Zip</a></p>
    </div>
</div>